<div class="jumbotron">
  <div class="container">
    <h3 class="display-4">Add Post</h3>
    <p class="lead">
      <%= simple_form_for :post, url: posts_path do |f| %>
        <% if @post.errors.any? %>
          <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
            <% end %>
        <% end %>

        <p>
          <%= f.input :title, {:class => 'form-control', maxlength: 10}  %>
        </p>

        <p>
          <%= f.label :body %>
          <%= f.text_area(:body, {:class => 'form-control', maxlength: 150}) %>
        </p>

        <p>
          <%= f.submit({:class => 'btn btn-primary'}) %>
        </p>
      <% end %>
    </p>
  </div>
  </div>
</div>
</main><!-- /.container -->
