<!DOCTYPE html>
<html>
  <head>
    <title>Quartz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('qz.jpg') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

 <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#"><%= image_tag("qz.jpg", :class => "header-img") %></a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"><h2 style="font-family:
                    courier new;">TheQuartz Gallery</h2></a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="search.png" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
                  <circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
              <% if user_signed_in? %>
                  <a class="btn btn-sm btn-outline-danger" <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
              <% else %>
              <div class="dropdown">
                <a href="#" class="btn btn-sm btn-outline-secondary" data-toggle="dropdown">Member<span class="caret"></span></a>
                  <ul id="login-dp" class="dropdown-menu">
                    <li>
                      <%= render 'layouts/login' %>
                    </li>
                  </ul>
                </div>
          <% end %>
          </div>
        </div>
      </header>
<hr>
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex">
          <a class="p-2 text-muted" <%= link_to "Home", home_path %></a>
          <a class="p-2 text-muted" <%= link_to "About", about_path %></a>
          <% if user_signed_in? %>
            <a class="p-2 text-muted" <%= link_to "Create Post", new_post_path %></a>
          <% end %>
        </nav>
      </div>

    <hr><hr><br>
    <%= yield %>
    <br><br><br><hr><hr><br>
      <footer class="footer">
          <div class="container">
          <span class="text-muted">&copy; TheQuartz 2016-2018</span>
        </div>
        </footer>
  </body>
</html>
